Assets/_CompletedAssets
Assets/Animation
Assets/Audio
Assets/Fonts
Assets/Materials
Assets/MobileInput
Assets/Models
Assets/Prefabs
Assets/Scenes
Assets/Shaders
Assets/Standard Assets
Assets/Standard Assets (Mobile)
Assets/Textures
Assets/_CompletedAssets.meta
Assets/Animation.meta
Assets/Audio.meta
Assets/Fonts.meta
Assets/Materials.meta
Assets/MobileInput.meta
Assets/Models.meta
Assets/PauseManager.cs.meta
Assets/Prefabs.meta
Assets/Scenes.meta
Assets/Shaders.meta
Assets/Standard Assets (Mobile).meta
Assets/Standard Assets.meta
Assets/Textures.meta
Library
ProjectSettings
Temp
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj
Survival shooter-csharp.sin
Survival shooter.sin
Survival shooter.userprefs